<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand text-dark" href="#">Coaching System</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li> -->
            </ul>

            <ul class="flex-lg-row flexy justify-content-end navbar-nav">
                <li class="nav-item text-nowrap">
                    <img src="assets/icons/notification.jpeg" alt="notifications" style="width: 50px" />
                </li>
                <li class="nav-item text-nowrap" ngbDropdown display="dynamic" placement="bottom-end">
                    <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button"
                        (click)="getUserInfo();">
                        <img src="assets/icons/profile.jpeg" alt="profile" style="width: 22px" class="rounded-circle" />
                    </a>

                    <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu custom-drp">
                        <div class="container">
                            <div class="row flex-nowrap">
                                <div class="col pp-mw">
                                    <span
                                        class="profileImage">{{loggedInUser?.firstName[0]|uppercase}}{{loggedInUser?.lastName[0]|uppercase}}</span>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col font-bold">
                                            Mr. {{loggedInUser?.firstName | titlecase}} {{loggedInUser?.lastName |
                                            titlecase}}
                                        </div>
                                        <div class="col text-muted">
                                            {{role}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <span class="border-bottom">
                        <span class="profileImage">{{loggedInUser?.firstName[0]|uppercase}}{{loggedInUser?.lastName[0]|uppercase}}</span>
                        Mr. {{loggedInUser?.firstName | titlecase}} {{loggedInUser?.lastName | titlecase}}
                    </span>
                    <span ngbDropdownItem class="border-bottom">{{role}}</span> -->
                        <a ngbDropdownItem href="#" (click)="$event.preventDefault();setPage('profile');"
                            class="border-bottom">
                            <img src="assets/icons/profile.jpeg" alt="profile" style="width: 22px"
                                class="rounded-circle" /> Profile
                        </a>
                        <a ngbDropdownItem href="#" (click)="$event.preventDefault();setPage('resetPwd');"
                            class="border-bottom">
                            <img src="assets/icons/Password.png" alt="profile" style="width: 22px"
                                class="rounded-circle" /> Change Password</a>
                        <a ngbDropdownItem href="#" (click)="$event.preventDefault();logout()">
                            <img src="assets/icons/Logout.png" alt="profile" style="width: 22px"
                                class="rounded-circle" /> Logout
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row" *ngIf="defaultPage">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar" style="margin-top: 4.8em;">
            <div class="sidebar-sticky">
                <div class="align-items-center border-bottom d-flex flex-md-nowrap flex-wrap justify-content-center mb-3 pb-2">
                    <img style="width: 120px" src="./assets/images/company-logo.jpeg" />
                </div>
                <ul class="nav flex-column">
                    <ng-container *ngFor="let menu of menus;let i = index">
                        <li class="nav-item" *ngIf="!(menu?.children)">
                            <a class="nav-link" href="#" [routerLink]="menu?.url" routerLinkActive="active">
                                <i>
                                    <img class="menu-icon" *ngIf="menu?.name == 'Home'" src="./assets/icons/home.jpeg" />
                                    <img class="menu-icon" *ngIf="menu?.name == 'Manage Clients'" src="./assets/icons/manage_clients.jpeg" />
                                    <img class="menu-icon" *ngIf="menu?.name == 'Manage Admins'" src="./assets/icons/manage_admins.jpeg" />
                                    <img class="menu-icon" *ngIf="menu?.name == 'Competency Mapping'" src="./assets/icons/competency_mapping.jpeg" />
                                    <img class="menu-icon" *ngIf="menu?.name == 'All Employees Data'" src="./assets/icons/manage_clients.jpeg" />
                                </i>
                                <span data-feather="home"></span>
                                {{menu.name}}
                            </a>
                        </li>
                        <ngb-accordion [closeOthers]="true" #acc="ngbAccordion">
                            <ngb-panel *ngIf="menu?.children">
                                <ng-template ngbPanelHeader let-opened="opened">
                                    <button ngbPanelToggle class="accordion-button custom-header justify-content-between py-1" [class.collapsed]="!opened">
                                        <i>
                                            <img class="menu-icon" *ngIf="menu?.name == 'My Courses'" src="./assets/icons/courses_menu.jpeg" />
                                        </i>
                                        {{menu.name}}
                                    </button>
                                </ng-template>
                                <ng-template ngbPanelContent>
                                    <ng-container *ngFor="let m of menu.children">
                                        <button ngbDropdownItem (click)="goTo(menu, m)">{{m.name}}</button>
                                    </ng-container>
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                    </ng-container>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h3>My Dashboard</h3>
            </div>
            <div class="container-home m-xl-5 p-5">
                <router-outlet></router-outlet>
            </div>
        </main>
    </div>
    <div class="row p-5 mt-4" *ngIf="showPwdResetPage">
        <app-password-reset [emitValue]="true" (exitEmit)="setPage('default')"></app-password-reset>
    </div>
    <div class="row p-5 mt-4" *ngIf="showProfilePage">
        <app-user-profile [user]="userFromApi" (exitProfile)="setPage('default')"></app-user-profile>
    </div>
</div>
