<div *ngIf="manage">
    <div *appBusyIndicator="isBusy"></div>
    <div class="card">
  
        <div class="card-content">
          <h3>Let's get started</h3>
          <p style="width: 482px;">Since your employees have accepted your request and took up the courses. Check the 'Courses Assigned' here.</p>
        </div>
          <div class="card-pic-wrap">
          <img src="./assets/images/employee.jpeg" alt="A leafy plant">
        </div>
      </div>

    <div class="table-responsive">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div>
                    Status: 
                    <select [formControl]="selectedStatus">
                        <option [value]="status.value" *ngFor="let status of statuses | keyvalue">{{status.value}}</option>
                    </select>
                </div>
                <div>
                    Employee: 
                    <select [formControl]="selectedEmployee">
                        <option selected>ALL</option>
                        <option [value]="emp?.id" *ngFor="let emp of userList | async">{{emp?.firstName}} {{emp?.lastName}}</option>
                    </select>
                </div>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [formControl]="filter">
                </form>
            </div>
        </nav>
        <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Employee Name</th>
                        <th scope="col" class="text-center">Task Name</th>
                        <th scope="col" class="text-center">Description</th>
                        <th scope="col" class="text-center">Duration</th>
                        <th scope="col" class="text-center">Progress</th>
                        <th scope="col" class="text-center">Created On</th>
                        <th scope="col" class="text-center">View</th>
                        <th scope="col" class="text-center">Status</th>
                        <th scope="col" class="text-center" style="width: 200px">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of rows | async">
                        <td class="text-center">
                            <ngb-highlight [result]="row.employee.firstName + ' ' + row.employee.lastName" [ngbTooltip]="row.employee.firstName + ' ' + row.employee.lastName"></ngb-highlight>
                        </td>
                        <td class="text-center">
                            <ngb-highlight [result]="row.taskName" [ngbTooltip]="row.taskName"></ngb-highlight>
                        </td>
                        <td class="text-center">
                            <ngb-highlight [result]="row.taskDescription" [ngbTooltip]="row.taskDescription"></ngb-highlight>
                        </td>
                        <td class="text-center">
                            <ngb-highlight [result]="row.duration" [ngbTooltip]="row.duration"></ngb-highlight>
                        </td>
                        <td class="text-center">
                            <ngb-highlight [result]="row.progress" [ngbTooltip]="row.progress"></ngb-highlight>
                        </td>
                        <td class="text-center">
                            <ngb-highlight [result]="row.createdOn|date: 'dd/MM/yyyy'" [ngbTooltip]="row.createdOn|date: 'dd/MM/yyyy'"></ngb-highlight>
                        </td>
                        <td class="text-center"><a href="#" (click)="$event.preventDefault();viewCourseDetail(row)">View</a></td>
                        <td class="text-center"> <!-- *ngIf="selectedStatus?.value === 'NONE'" -->
                            {{row.taskStatus}}
                        </td>
                        <td class="text-center" *ngIf="row.taskStatus === 'SUBMITTED'">
                            <button type="button" class="btn btn-outline-custom" (click)="approveCourse(row)">Approve</button>
                            <button type="button" class="btn btn-outline-custom" (click)="rejectCourse(row)">Reject</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        <ngb-pagination class="d-flex justify-content-center" [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
            (pageChange)="refresh()">
        </ngb-pagination>
    </div>
</div>