.column {
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 1%;
}
.col {
    width: 80%;
    margin: 1%;
    align-items: center;
    display: flex;
    box-shadow: 0px 0px 15px 10px #e2e8e8b2;
}
.overlap {
    position: relative;
    div {
        display: flex;
        flex-flow: column;
        width: 70%;
        height: 15vh;
        margin-left: 20px;
    }
}
$b-r: 5px;
.wrap {
    height: 100%; 
  }
  .card {
    display: flex;
    flex: 0 0 auto;
    background: #fff;
    max-width: 784px;
    margin:20px 0 20px 90px;
    border-radius: $b-r;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  .card-pic-wrap {
    border-radius: $b-r 0 0 $b-r;
    width: 300px;
    flex: 0 0 auto;
    position: relative;
    background: linear-gradient(to bottom, #9fd483, #8dc26f);
    top: 43px;
    img {
      position: absolute;
      bottom: 0em;
      left: 50em;
      margin-left: -175px;
      width: 250px;
      -webkit-box-reflect: below -1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(90%, transparent), to(rgba(250, 250, 250, 0.15)));
    }
  }
  .card-content {
    padding: 1em 2em 0em;
  }
  h3 {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 2.5em;
    margin: 0 0 1em;
    color: #550E9B;
  }
  
  @media (max-width: 790px) {
    body {
      overflow-x: hidden;
    }
    .wrap {
      margin-left: 20px;
      margin-right: 20px;
    }
    .card {
      flex-direction: column;
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .card-pic-wrap {
      width: 100%;
      border-radius: $b-r $b-r 0 0;
      img {
        bottom: 20px;
        position: relative;
      }
    }
    .card-content {
      padding: 2em 2em 1em;
    } 
  }