<h2>{{title}}</h2>
<div *appBusyIndicator="isBusy"></div>
<div class="d-flex flex-row">
    <div class="w-50">
        <img class="add-img" src="./assets/images/registration.jpg" />
    </div>
    <div class="w-50 forms-grp">
        <form [formGroup]="addEmployeeForm" (ngSubmit)="save()">
            <div class="form-group mb-3">
                <label for="employeeName">Employee Name</label>
                <input type="text" id="employeeName" placeholder="Employee Name" class="form-control" formControlName="employeeName" 
                    [ngClass]="{ 'is-invalid': f.employeeName.touched && f.employeeName.errors }">
                <small *ngIf="f.employeeName.touched && f.clientName.errors" class="form-text text-muted">
                    <div *ngIf="f.employeeName.errors.required">Employee Name is required</div>
                    <div *ngIf="f.employeeName.errors.email">Invalid Employee Name</div>
                </small>
            </div>
            <div class="form-group mb-3">
                <label for="clientName">Client Name</label>
                <input type="text" id="clientName" placeholder="Client Name" class="form-control" formControlName="clientName" [ngClass]="{ 'is-invalid': f.clientName.touched && f.clientName.errors }">
                <small *ngIf="f.clientName.touched && f.clientName.errors" class="form-text text-muted">
                    <div *ngIf="f.clientName.errors.required">Client Name is required</div>
                    <div *ngIf="f.clientName.errors.email">Invalid Client Name</div>
                </small>
            </div>
            <div class="form-group mb-3">
                <label for="email">Email Address</label>
                <input type="text" id="email" placeholder="Client Email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': f.email.touched && f.mobile.errors }">
                <small *ngIf="f.email.touched && f.email.errors" class="form-text text-muted">
                    <div *ngIf="f.email.errors.required">Client Email is required</div>
                    <div *ngIf="f.email.errors.email">Invalid Client Name</div>
                </small>
            </div>
            <div class="form-group mb-3">
                <label for="mobile">Mobile Number</label>
                <input type="text" id="mobile" placeholder="Client Number" class="form-control" formControlName="mobile" [ngClass]="{ 'is-invalid': f.mobile.touched && f.mobile.errors }">
                <small *ngIf="f.mobile.touched && f.mobile.errors" class="form-text text-muted">
                    <div *ngIf="f.mobile.errors.required">Mobile is required</div>
                </small>
            </div>
            <div class="button button-flex">
                <button type="button" class="btn" (click)="addEmployeeForm.reset()">Clear</button>
                <button type="submit" class="btn" (click)="save()">Save</button>
            </div>
        </form>
    </div>
</div>