<div class="modal-header">
  <h4 class="modal-title">Search Details</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">

  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- <h6 class="text-muted">List Group with Images</h6>  -->
        <div>
          <div *ngFor="let car of gInfo | keyvalue">
            <div ><span class="font-weight-bold text-uppercase" style="font-weight: 600;"> {{car.key}} </span><br>
              <div *ngFor="let info of car.value">
                <div *ngIf="car.key === 'Books'">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item border-bottom" data-toggle="tooltip" data-placement="top" [title]="info.Author" >{{info.Title}}&nbsp;<a [href]="info.URL" target="_blank">Click</a>
                      <input type="checkbox" class="col-2" (change)="getCheckBocInfo($event,info)" style="float: right;">
                    </li>
                  </ul>
                </div>
                <div *ngIf="car.key === 'OnlineCourses'">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item border-bottom" data-toggle="tooltip" data-placement="top" [title]="info.Description">{{info.Course}}&nbsp;<a [href]="info.URL" target="_blank">Click</a>
                      <input type="checkbox" class="col-2" (change)="getCheckBocInfo($event,info)" style="float: right;">
                    </li>
                  </ul>
                  <!-- <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center col-10" style="width: 48em;" >{{info.Course}}&nbsp;<a [href]="info.URL" target="_blank">Click</a>
                      <input type="checkbox" class="col-2" (change)="getCheckBocInfo($event,info)">
                    </li>

                  </ul> -->
                </div>
                <div *ngIf="car.key === 'Youtube'">
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item border-bottom" data-toggle="tooltip" data-placement="top" [title]="info.Description">{{info.Name}}&nbsp;<a [href]="info.URL" target="_blank">click</a>
                        <input type="checkbox" class="col-2" (change)="getCheckBocInfo($event,info)" style="float: right;">
                      </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div *ngFor="let info of Object.keys(gInfo)">
            <h3>Books</h3>
            <div >
              <ul class="list-group list-group-flush">
                <li class="list-group-item">{{info['Books']}}</li>
              </ul>
            </div>
        </div> -->

      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="closeModal('dismiss')">Close</button>
</div>
<script>
  $('[data-toggle="popover"]').popover();
</script>

