<!-- <div class="admin-container">
    <h2 class="title">Overview</h2>
    <div class="container">
        <ng-container *ngFor="let menu of menus">
            <div class="col">
                <i class="menu-icon">
                    <img src="./assets/icons/home.jpeg" />
                </i>
                {{menu.name}}
            </div>
        </ng-container>
    </div>
</div> -->
<div>
    <h2>Overview</h2>
    <div class="card-deck">
        <div class="card m- align-items-center flex-sm-row justify-content-center p-4"  
            (click)="goTo('manage-clients')">
            <img class="menu-icon" src="./assets/icons/manage_clients.jpeg" />
            <div class="card-body">
                <h5 class="card-title">Manage Clients</h5>
            </div>
        </div>
        <div class="card m- align-items-center flex-sm-row justify-content-center p-4" 
            (click)="goTo('manage-admins')">
            <img class="menu-icon" src="./assets/icons/manage_admins.jpeg" />
            <div class="card-body">
                <h5 class="card-title">Manage Admins</h5>
            </div>
        </div>
        </div>
        <div class="card-deck">
            <div class="card m- align-items-center flex-sm-row justify-content-center p-4" 
                (click)="goTo('competency-mapping')">
                <img class="menu-icon" src="./assets/icons/competency_mapping.jpeg" />
                <div class="card-body">
                    <h5 class="card-title">Competency Mapping</h5>
                </div>
            </div>
            <div class="card m- align-items-center flex-sm-row justify-content-center p-4" 
                (click)="goTo('manage-employees')">
                <img class="menu-icon" src="./assets/icons/manage_clients.jpeg" />
                <div class="card-body">
                    <h5 class="card-title">All Employees Data</h5>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card m- align-items-center justify-content-center card-spl" 
                (click)="goTo('upload-competency')">
                <img class="menu-icon" src="./assets/icons/upload.jpeg" />
                <div class="card-body hdr">
                    <h5 class="card-title" style="font-size: 1.15em;padding: 0px;height: 1.2em;">Upload Competency Framework</h5>
                </div>
            </div>
            <div class="card m- align-items-center justify-content-center card-spl" 
                (click)="goTo('upload-employees')">
                <img class="menu-icon" src="./assets/icons/upload.jpeg" />
                <div class="card-body hdr">
                    <h5 class="card-title" style="font-size: 1.15em;padding: 0px;height: 0.1em;">Upload Employees data</h5>
                </div>
            </div>
        </div>
</div>