.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.menu-icon {
    width: 20%;
}
.card {
    cursor: pointer;
    width: 40%;
}

.card-spl {
    width: 35% !important;
    .hdr {
        background: lightgrey;
        width: 100%;
        text-align: center
    }
}