<!-- <div class="admin-container">
    <h2 class="title">Overview</h2>
    <div class="container">
        <ng-container *ngFor="let menu of menus">
            <div class="col">
                <i class="menu-icon">
                    <img src="./assets/icons/home.jpeg" />
                </i>
                {{menu.name}}
            </div>
        </ng-container>
    </div>
</div> -->
<div>
    <h2>Overview</h2>
    <div class="card-deck">
        <ng-container *ngFor="let menu of menus">
        <div class="card m-4 align-items-center flex-sm-row justify-content-center" 
            style="width: 25%" (click)="goTo(menu?.url)">
            <img class="menu-icon" *ngIf="menu?.name == 'Home'" src="./assets/icons/home.jpeg" />
            <img class="menu-icon" *ngIf="menu?.name == 'Manage Clients'" src="./assets/icons/manage_clients.jpeg" />
            <img class="menu-icon" *ngIf="menu?.name == 'Manage Admins'" src="./assets/icons/manage_admins.jpeg" />
            <img class="menu-icon" *ngIf="menu?.name == 'Competency Mapping'" src="./assets/icons/competency_mapping.jpeg" />
            <img class="menu-icon" *ngIf="menu?.name == 'All Employees Data'" src="./assets/icons/manage_clients.jpeg" />
            <img class="menu-icon" *ngIf="menu?.name == 'Upload Competency'" src="./assets/icons/upload.jpeg" />
            <img class="menu-icon" *ngIf="menu?.name == 'Upload Employees'" src="./assets/icons/upload.jpeg" />
            <div class="card-body">
            <h5 class="card-title">{{menu.name}}</h5>
            <!-- <p class="card-text">{{menu.name}}</p> -->
            </div>
        </div>
        </ng-container>
    </div>
</div>