<nav class="navbar navbar-dark sticky-top flex-md-nowrap p-3 home-hdr">
    <a class="navbar-brand home-hdr-txt col-sm-3m-sm-3" href="#">Learning Management System</a>
    <ul class="flex-lg-row flexy justify-content-end navbar-nav">
        <li class="nav-item text-nowrap">
            <img src="assets/icons/notification.jpeg" alt="notifications" style="width: 50px" />
        </li>
        <li class="nav-item text-nowrap" ngbDropdown display="dynamic" placement="bottom-end">
            <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button" (click)="getUserInfo();">
                <img src="assets/icons/profile.jpeg" alt="profile" style="width: 30px" class="rounded-circle" />
            </a>

            <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu custom-drp">
                <span class="border-bottom">
                    Welcome, Super Admin
                </span>
                <a ngbDropdownItem href="#" (click)="$event.preventDefault();setPage('profile');" class="border-bottom">
                    <img src="assets/icons/profile.jpeg" alt="profile" style="width: 30px" class="rounded-circle" /> Profile
                </a>
                <a ngbDropdownItem href="#" (click)="$event.preventDefault();setPage('resetPwd');" class="border-bottom">
                    <img src="assets/icons/Password.png" alt="profile" style="width: 30px" class="rounded-circle" /> Change Password</a>
                <a ngbDropdownItem href="#" (click)="$event.preventDefault();logout()">
                    <img src="assets/icons/Logout.png" alt="profile" style="width: 30px" class="rounded-circle" /> Logout
                </a>
            </div>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row" *ngIf="defaultPage">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <div class="align-items-center border-bottom d-flex flex-md-nowrap flex-wrap justify-content-center mb-3 pb-2">
                    <img style="width: 120px" src="./assets/images/company-logo.jpeg" />
                </div>
                <ul class="nav flex-column">
                    <ng-container *ngFor="let menu of menus;let i = index">
                        <li class="nav-item">
                            <a class="nav-link" href="#" 
                            [routerLink]="menu?.url" routerLinkActive="active">
                            <!-- (click)="$event.stopPropagation();$event.preventDefault();goTo(menu?.name)"> -->
                                <i>
                                    <img class="menu-icon" *ngIf="menu?.name == 'Home'" src="./assets/icons/home.jpeg" />
                                    <img class="menu-icon" *ngIf="menu?.name == 'Manage Clients'" src="./assets/icons/manage_clients.jpeg" />
                                    <img class="menu-icon" *ngIf="menu?.name == 'Manage Admins'" src="./assets/icons/manage_admins.jpeg" />
                                    <img class="menu-icon" *ngIf="menu?.name == 'Competency Mapping'" src="./assets/icons/competency_mapping.jpeg" />
                                    <img class="menu-icon" *ngIf="menu?.name == 'All Employees Data'" src="./assets/icons/manage_clients.jpeg" />
                                </i>
                                <span data-feather="home"></span>
                                {{menu.name}}
                            </a>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h3>VIXITA Admin Dashboard</h3>
            </div>
            <div class="container-home m-xl-5 p-5">
                <router-outlet></router-outlet>
            </div>
        </main>
    </div>
    <div class="row p-5" *ngIf="showPwdResetPage">
        <app-password-reset [emitValue]="true" (exitEmit)="setPage('default')"></app-password-reset>
    </div>
    <div class="row p-5" *ngIf="showProfilePage">
        <app-user-profile [user]="userFromApi" (exitProfile)="setPage('default')"></app-user-profile>
    </div>
</div>