<div class="flexy">
    <div class="flex-container common-font mx-1">
        <article class="main lg-form" *ngIf="default">
            <ul class="signup-hdr font-hdr black">
                <li class="login-hdr font-18 font-bold">Forgot Password?</li>
            </ul>
            <div class="img-container">
                <img width="100%" height="100%" src="./assets/images/forgot.jpg" />
            </div>
            <ul class="flex-outer">
                <form [formGroup]="forgotForm" (ngSubmit)="sendOTP()">
                    <li>
                        <label for="first-name">Enter your
                            <span class="font-bold app-color">Registered 'email id'</span>
                        </label>
                    </li>
                    <li>
                        <input type="text" id="email" placeholder="Enter email" class="input-field" formControlName="email" [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }">
                    </li>
                    <div *ngIf="f.email.touched && f.email.errors" class="invalid-feedback d-block">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                    </div>
                    <li>
                        <label for="first-name">
                            An OTP will be sent to your Registered email address and/or Phone number
                        </label>
                    </li>
                    <li class="button">
                        <button type="submit">Send OTP</button>
                    </li>
                </form>
            </ul>
        </article>
        <article class="main lg-form" *ngIf="!default">
            <ng-container>
                <app-otp-verification [email]="userMail" (closed)="next($event)"></app-otp-verification>
            </ng-container>
        </article>
    </div>
</div>