<div class="flexy">
    <div class="flex-container common-font mx-1">
        <article class="main lg-form">
            <ul class="signup-hdr font-hdr black">
                <li class="login-hdr font-18 font-bold">{{header}}</li>
            </ul>
            <ul class="signup-hdr black flexy text-inst w-98">
                <img style="width: 10em;" src="./assets/images/pwd.jpg" />
                <li class="bg-color">
                    <b>New Password must be</b>
                    <ul>
                        <li>Minimum of 10 characters in length</li>
                        <li>Combination of alphabets and numerals with 1 special character and 2 alphabet in capital letters</li>
                        <li>Cannot use any of the last 6 passwords</li>
                        <li>Special characters allowed are ! @ # $ ? % ^ & *</li>
                    </ul>
                    <b>Additional passwords policy information</b>
                    <ul>
                        <li>Password expiration period: 89 days</li>
                        <li>Maximum no. of incorrect login attempts before an account is locked: 4</li>
                    </ul>
                </li>
            </ul>
            <ul class="flex-outer">
                <form #pwdForm class="pwdForm" [formGroup]="pwdResetForm" (ngSubmit)="reset()">
                    <div *ngIf="false">
                        <label>Current Password:</label>
                        <input type="password" id="currentPassword" placeholder="Current password" class="input-field" formControlName="currentPassword"
                            [ngClass]="{ 'is-invalid': f.currentPassword.touched && f.currentPassword.errors }">
                        <div *ngIf="f.currentPassword.touched && f.currentPassword.errors" class="invalid-feedback">
                            <span *ngIf="f.currentPassword.errors.required">Current password is required</span>
                            <span *ngIf="f.currentPassword.errors.pattern">Invalid password</span>
                        </div>
                    </div>
                    <label>New Password:</label>
                    <input type="password" id="newPassword" placeholder="New password" class="input-field" formControlName="newPassword" [ngClass]="{ 'is-invalid': f.newPassword.touched && f.newPassword.errors }">

                    <div *ngIf="f.newPassword.touched && f.newPassword.errors" class="invalid-feedback">
                        <span *ngIf="f.newPassword.errors.required">New password is required</span>
                        <span *ngIf="f.newPassword.errors.pattern">Invalid password</span>
                    </div>

                    <label>Confirm Password:</label>
                    <input type="password" id="confirmPassword" placeholder="Confirm password" class="input-field" formControlName="confirmPassword"
                        [ngClass]="{ 'is-invalid': f.confirmPassword.touched && f.confirmPassword.errors }">

                    <div *ngIf="f.confirmPassword.touched && f.confirmPassword.errors" class="invalid-feedback">
                        <span *ngIf="f.confirmPassword.errors.required">Confirm password is required</span>
                        <span *ngIf="f.confirmPassword.errors.pattern">Invalid password</span>
                    </div>
                    <li class="button">
                        <button type="submit">Save</button>
                        <button (click)="pwdForm.reset()">Cancel</button>
                    </li>
                </form>
            </ul>
        </article>
    </div>
</div>