.flex-container {
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 4px #8015e8;
  }

  @media all and (min-width: 600px) {
    .lg-img { flex: 1 0 0; }
  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 1 0px; }
    .lg-img { order: 1; } 
    .lg-form    { order: 2; }
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 3em;
  }
  
  .container * {
    box-sizing: border-box;
  }
  
  .flex-outer {
    list-style-type: none;
    padding: 1em;
  }
  
  .flex-outer {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
  }
  
  .flex-outer > li:last-child {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .flex-outer form li {
    margin-bottom: 10px;
  }
  
  .flex-outer li input:not([type='checkbox']),
  .flex-outer li textarea {
    padding: 10px;
    border: none;
  }
  
  .flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #8015E8;
    color: #f2f2f2;
    // text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 15px;
    cursor: pointer;
  }
  .flex-outer li input {
    width: 50%;
  }
  .icon img {
    height: 30px;
  }
  .input-field {
    outline: none;
    border: none;
    border-radius: 5px;
    height: 20px;
    box-shadow: 0px 2px 7px 0px #8C84FA;
  }
  
  .input-field:focus {
    border: 2px solid #8015E8;
  }
  .signup-hdr {
    padding: 1em 0 0 0;
  }
  .font-hdr {
      list-style: none;
  }
  .common-font {
    font-family: 'avenir-lite';
    font-size: 15px;
  }
  .text-inst {
    text-align: start;
    list-style: none;
    height: auto !important;
  }
  .pwdForm {
    display: grid;
    grid-template-columns: [labels] auto [controls] 1fr;
    grid-auto-flow: row;
    grid-gap: .8em 0em;
    background: #eee;
    padding: 1.2em;
  }
  .pwdForm > label  {
    grid-column: labels;
    grid-row: auto;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pwdForm > input,
  .pwdForm > div,
  .pwdForm > li {
    grid-column: controls;
    grid-row: auto;
    border: none;
    padding: 1em;
  }
  .pwdForm > div {
      padding: unset;
  }
  .bg-color {
    background: #d5bced;
  }