<div class="row">
    <h2 class="col-10">{{title}}</h2>
    <button type="button" class="col-1 close btn custom-color" (click)="exitProfile.emit(true);">Close</button>
</div>
<div *appBusyIndicator="isBusy"></div>
<div class="container">
    <div class="row p-2">
        <div class="col-1 font-bold">First Name: </div>
        <div class="col-6 col-sm-3">{{user.firstName}}</div>
    </div>
    <div class="row p-2">
        <div class="col-1 font-bold">Last Name: </div>
        <div class="col-6 col-sm-3">{{user.lastName}}</div>
    </div>
    <div class="row p-2">
        <div class="col-1 font-bold">Email: </div>
        <div class="col-6 col-sm-3">{{user.userName}}</div>
    </div>
    <div class="row p-2">
        <div class="col-1 font-bold">Mobile: </div>
        <div class="col-6 col-sm-3">{{user.mobile}}</div>
    </div>
</div>